<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карта точек</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        #map {
            height: 600px;
            width: 100%;
        }
        #form-container {
            display: none;
            position: absolute;
            top: 50px;
            right: 10px;
            background: white;
            padding: 10px;
            border-radius: 5px;
            z-index: 1000;
        }
        #add-point-button {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1000;
        }
        .point-list { margin-top: 20px; padding: 20px; }
        .point-item { margin-bottom: 20px; }
        .point-image { max-width: 322px; height: auto; }
        .focus-button {
            margin-left: 10px;
            padding: 5px 10px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 3px;
            cursor: pointer;
        }

        .focus-button:hover {
            background-color: #e0e0e0;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <button id="add-point-button">Добавить точку</button>
    <div id="form-container">
        <form id="add-point-form" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" id="title" name="title" placeholder="Название" required><br>
            <textarea id="short_description" name="short_description" placeholder="Краткое описание" required></textarea><br>
            <input type="file" id="image" name="image" accept="image/*"><br>
            <input type="hidden" id="latitude" name="latitude">
            <input type="hidden" id="longitude" name="longitude">
            <button type="submit">Сохранить точку</button>
            <button type="button" id="cancel-button">Отмена</button>
        </form>
    </div>
    <div class="point-list">
        <h2>Список точек на карте</h2>
        {% for point in points %}
            <div class="point-item" data-id="{{ point.id }}">
                {% if point.images %}
                    <img class="point-image" alt="{{ point.title }}" src="/media/{{ point.images }}"/>
                {% endif %}
                <h3>{{ point.title }}</h3>
                <p>{{ point.short_description }}</p>
                <button class="focus-button" data-id="{{ point.id }}">Показать на карте</button>
                <hr>
            </div>
        {% empty %}
            <p>На карте пока нет точек.</p>
        {% endfor %}
    </div>

    <script>
        var map = L.map('map').setView([55.7558, 37.6173], 10);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var points = {{ points_json|safe }};
        var markers = {};

        function addMarker(point) {
            var marker = L.marker([point.fields.latitude, point.fields.longitude]).addTo(map);
            
            var popupContent = `
                <h3>${point.fields.title}</h3>
                <p>${point.fields.short_description}</p>
            `;

            if (point.fields.images) {
                popupContent += `<img src="/media/${point.fields.images}" alt="${point.fields.title}" style="max-width: 200px;">`;
            }

            popupContent += `
                <br>
                <button onclick="toggleFavorite(${point.pk})">Добавить в избранное</button>
            `;

            marker.bindPopup(popupContent);
            
            // Сохраняем маркер в объект, используя ID точки как ключ
            markers[point.pk] = marker;
        }

        points.forEach(addMarker);

        // Функция для фокусировки на маркере
        function focusOnMarker(pointId) {
            var marker = markers[pointId];
            if (marker) {
                var latLng = marker.getLatLng();
                map.setView(latLng, 15); // 15 - это уровень зума, можете изменить по вашему усмотрению
                marker.openPopup();
            }
        }

        // Добавляем обработчик событий для кнопок фокусировки
        document.querySelectorAll('.focus-button').forEach(button => {
            button.addEventListener('click', function() {
                var pointId = parseInt(this.getAttribute('data-id'));
                focusOnMarker(pointId);
            });
        });
        function toggleFavorite(pointId) {
            fetch(`/toggle_favorite/${pointId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'added') {
                    alert('Точка добавлена в избранное');
                } else {
                    alert('Точка удалена из избранного');
                }
            })
            .catch(error => console.error('Error:', error));
        }

        points.forEach(addMarker);

        var tempMarker;
        var isAddingPoint = false;
        var isPointSelected = false;  // Новая переменная для отслеживания выбора точки

        document.getElementById('add-point-button').addEventListener('click', function() {
            isAddingPoint = true;
            isPointSelected = false;  // Сбрасываем флаг при начале добавления новой точки
            document.getElementById('form-container').style.display = 'block';
            this.style.display = 'none';
        });

        document.getElementById('cancel-button').addEventListener('click', function() {
            isAddingPoint = false;
            isPointSelected = false;  // Сбрасываем флаг при отмене
            document.getElementById('form-container').style.display = 'none';
            document.getElementById('add-point-button').style.display = 'block';
            if (tempMarker) {
                map.removeLayer(tempMarker);
            }
        });

        map.on('click', function(e) {
            if (!isAddingPoint) return;
            
            if (tempMarker) {
                map.removeLayer(tempMarker);
            }
            tempMarker = L.marker(e.latlng).addTo(map);
            document.getElementById('latitude').value = e.latlng.lat;
            document.getElementById('longitude').value = e.latlng.lng;
            isPointSelected = true;  // Устанавливаем флаг, что точка выбрана
        });

        document.getElementById('add-point-form').addEventListener('submit', function(e) {
            e.preventDefault();
            if (!isPointSelected) {
                alert('Пожалуйста, выберите точку на карте перед сохранением.');
                return;
            }
            var formData = new FormData(this);

            fetch('/add_point/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    this.reset();
                    if (tempMarker) {
                        map.removeLayer(tempMarker);
                    }
                    isAddingPoint = false;
                    isPointSelected = false;  // Сбрасываем флаг после успешного добавления
                    document.getElementById('form-container').style.display = 'none';
                    document.getElementById('add-point-button').style.display = 'block';
                    alert(data.message);
                } else {
                    alert('Ошибка при добавлении точки: ' + data.error);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Произошла ошибка при отправке данных');
            });
        });
        function smoothScrollToTop() {
            const scrollToTop = () => {
                const c = document.documentElement.scrollTop || document.body.scrollTop;
                if (c > 0) {
                    window.requestAnimationFrame(scrollToTop);
                    window.scrollTo(0, c - c / 8);
                }
            };
            scrollToTop();
        }

        // Добавляем обработчик событий для кнопок прокрутки наверх
        document.querySelectorAll('.focus-button').forEach(button => {
            button.addEventListener('click', smoothScrollToTop);
        });
    </script>
</body>
</html>