{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карта точек</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="{% static 'css/map.css'%}"/>
    <link rel="icon" href="{% static 'img/favicon.ico'%}">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% include 'nav/map_navbar.html' %}
    <style>
        #map {
            height: 100%;
            width: 100%;
        }
        #form-container {
            display: none;
            position: absolute;
            top: 160px;
            left: 7%;
            background: white;
            padding: 10px;
            border-radius: 5px;
            z-index: 1000;
            animation: appear 0.4s ease-in-out;
        }
        #add-point-button {
            position: absolute;
            top: 80px;
            right: 10px;
            z-index: 1000;
        }
    </style>

</head>
<body>
<div class="container">
    <div id="map"></div>
    <button id="add-point-button" class="add-point-button">
        <span>
            Добавить точку
        </span>
    </button>
    <div id="form-container" >
        <form id="add-point-form" enctype="multipart/form-data"   class="add-point-form">
            {% csrf_token %}
            <input type="text" id="title" name="title" placeholder="Название" required><br>
            <textarea id="short_description" name="short_description" placeholder="Краткое описание" required></textarea><br>
            <input type="file" id="image" name="image" accept="image/*"><br>
            <input type="hidden" id="latitude" name="latitude">
            <input type="hidden" id="longitude" name="longitude">
            <button type="submit" class="form-button">
                <span>
                Сохранить точку
                </span>
            </button>
            <button type="button" id="cancel-button" class="form-cancel-button">
                <span>
                    Отмена
                </span>
            </button>
        </form>
    </div>

    <script>
        let map = L.map('map').setView([55.7558, 37.6173], 10);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var points = {{ points_json|safe }};

        function addMarker(point) {
            var marker = L.marker([point.fields.latitude, point.fields.longitude]).addTo(map);
            var popupContent = `
                <h3>${point.fields.title}</h3>
                <p>${point.fields.short_description}</p>
            `;

            if (point.fields.images) {
                popupContent += `<img src="/media/${point.fields.images}" alt="${point.fields.title}" style="max-width: 200px;">`
            }

            popupContent += `
                <br>
                <button onclick="toggleFavorite(${point.pk})" class="favorite-button">
                    <span>
                        Добавить в избранное
                    </span>
                </button>
                `;

            marker.bindPopup(popupContent);
        }

        function toggleFavorite(pointId) {
            fetch(`/toggle_favorite/${pointId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }

            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'added') {
                    alert('Точка добавлена в избранное');

                } else {
                    alert('Точка удалена из избранного');
                }
            })
            .catch(error => console.error('Error:', error));
        }
        points.forEach(addMarker);

        var tempMarker;
        var isAddingPoint = false;

        document.getElementById('add-point-button').addEventListener('click', function() {
            isAddingPoint = true;
            document.getElementById('form-container').style.display = 'block';
            this.parent.find('.form-container').fadeIn()

        });

        document.getElementById('cancel-button').addEventListener('click', function() {
            isAddingPoint = false;
            document.getElementById('form-container').style.display = 'none';
            document.getElementById('add-point-button').style.display = 'block';
            if (tempMarker) {
                map.removeLayer(tempMarker);
            }
        });

        map.on('click', function(e) {
            if (!isAddingPoint) return;

            if (tempMarker) {
                map.removeLayer(tempMarker);
            }
            tempMarker = L.marker(e.latlng).addTo(map);
            document.getElementById('latitude').value = e.latlng.lat;
            document.getElementById('longitude').value = e.latlng.lng;
        });

        document.getElementById('add-point-form').addEventListener('submit', function(e) {
            e.preventDefault();
            var formData = new FormData(this);

            fetch('/add_point/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    this.reset();
                    if (tempMarker) {
                        map.removeLayer(tempMarker);
                    }
                    isAddingPoint = false;
                    document.getElementById('form-container').style.display = 'none';
                    document.getElementById('add-point-button').style.display = 'block';
                    alert(data.message);
                } else {
                    alert('Ошибка при добавлении точки: ' + data.error);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Произошла ошибка при отправке данных');
            });
        });
    </script>
</body>
</div>
</html>