{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карта точек</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="{% static 'css/map.css'%}"/>
    <link rel="icon" href="{% static 'img/favicon.ico'%}">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% include 'nav/map_navbar.html' %}
    <style>
        #map {
            height: 100%;
            width: 100%;
        }
        #form-container {
            display: none;
            position: absolute;
            top: 160px;
            left: 7%;
            background: white;
            padding: 10px;
            border-radius: 5px;
            z-index: 1000;
            animation: appear 0.4s ease-in-out;
        }
        #add-point-button {
            position: absolute;
            top: 80px;
            right: 10px;
            z-index: 1000;
        }
    </style>

</head>
<body>
<div class="container">
    <div id="map"></div>
    <button id="add-point-button" class="add-point-button">
        <span>
            Добавить точку
        </span>
    </button>
    <button id="scrollToFooterButton" class="scrollToFooterButton">К списку всех точек</button>
    <div id="form-container" >
        <form id="add-point-form" enctype="multipart/form-data"   class="add-point-form">
            {% csrf_token %}
            <input type="text" id="title" name="title" placeholder="Название" required><br>
            <textarea id="short_description" name="short_description" placeholder="Краткое описание" required></textarea><br>
            <input type="file" id="image" name="image" accept="image/*"><br>
            <input type="hidden" id="latitude" name="latitude">
            <input type="hidden" id="longitude" name="longitude">
            <button type="submit" class="form-button">
                <span>
                Сохранить точку
                </span>
            </button>
            <button type="button" id="cancel-button" class="form-cancel-button">
                <span>
                    Отмена
                </span>
            </button>
        </form>
    </div>
</div>
    <footer class="point-list">
    <br><br>
        <span class="header">Список точек на карте</span>
    <hr>
        {% for point in points %}
            <div class="point-item" data-id="{{ point.id }}">
                {% if point.images %}
                    <img class="point-image" alt="{{ point.title }}" src="/media/{{ point.images }}" style="width:322px"/>
                {% endif %}
                <div class="point-description">
                    <h3>{{ point.title }}</h3>
                    <p>{{ point.short_description }}</p>
                </div>
            </div>
                <button class="focus-button" data-id="{{ point.id }}">Показать на карте</button>
                <hr>

        {% empty %}
            <p>На карте пока нет точек.</p>
        {% endfor %}
    </footer>

    <script>
        let map = L.map('map').setView([55.7558, 37.6173], 10);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        let points = {{ points_json|safe }};
        let markers = {};

        function addMarker(point) {
            let marker = L.marker([point.fields.latitude, point.fields.longitude]).addTo(map);

            let popupContent = `
                <h3>${point.fields.title}</h3>
                <p>${point.fields.short_description}</p>
            `;

            if (point.fields.images) {
                popupContent += `<img src="/media/${point.fields.images}" alt="${point.fields.title}" style="max-width: 200px;">`;
            }

            popupContent += `
                <br>
<label><input type="checkbox" id="favorite-checkbox" name="favorite_checkbox" class="favorite-checkbox" onclick="toggleFavorite(${point.pk})">
<span></span><span class="favorite-checkbox-text">Добавить в избранное<span></label>
                `;

            marker.bindPopup(popupContent);

            // Сохраняем маркер в объект, используя ID точки как ключ
            markers[point.pk] = marker;
        }

        points.forEach(addMarker);

        // Функция для фокусировки на маркере
        function focusOnMarker(pointId) {
            let marker = markers[pointId];
            if (marker) {
                let latLng = marker.getLatLng();
                map.setView(latLng, 15); // 15 - это уровень зума, можете изменить по вашему усмотрению
                marker.openPopup();
            }
        }

        // Добавляем обработчик событий для кнопок фокусировки
        document.querySelectorAll('.focus-button').forEach(button => {
            button.addEventListener('click', function() {
                let pointId = parseInt(this.getAttribute('data-id'));
                focusOnMarker(pointId);
            });
        });
        function toggleFavorite(pointId) {
            fetch(`/toggle_favorite/${pointId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'added') {

                } else {

                }
            })
            .catch(error => console.error('Error:', error));
        }

        points.forEach(addMarker);

        let tempMarker;
        let isAddingPoint = false;
        let isPointSelected = false;  // Новая переменная для отслеживания выбора точки

        document.getElementById('add-point-button').addEventListener('click', function() {
            isAddingPoint = true;
            isPointSelected = false;  // Сбрасываем флаг при начале добавления новой точки
            document.getElementById('form-container').style.display = 'block';
        });

        document.getElementById('cancel-button').addEventListener('click', function() {
            isAddingPoint = false;
            isPointSelected = false;  // Сбрасываем флаг при отмене
            document.getElementById('form-container').style.display = 'none';
            document.getElementById('add-point-button').style.display = 'block';
            if (tempMarker) {
                map.removeLayer(tempMarker);
            }
        });

        map.on('click', function(e) {
            if (!isAddingPoint) return;

            if (tempMarker) {
                map.removeLayer(tempMarker);
            }
            tempMarker = L.marker(e.latlng).addTo(map);
            document.getElementById('latitude').value = e.latlng.lat;
            document.getElementById('longitude').value = e.latlng.lng;
            isPointSelected = true;  // Устанавливаем флаг, что точка выбрана
        });

        document.getElementById('add-point-form').addEventListener('submit', function(e) {
            e.preventDefault();
            if (!isPointSelected) {
                alert('Пожалуйста, выберите точку на карте перед сохранением.');
                return;
            }
            let formData = new FormData(this);

            fetch('/add_point/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    this.reset();
                    if (tempMarker) {
                        map.removeLayer(tempMarker);
                    }
                    isAddingPoint = false;
                    isPointSelected = false;  // Сбрасываем флаг после успешного добавления
                    document.getElementById('form-container').style.display = 'none';
                    document.getElementById('add-point-button').style.display = 'block';
                    alert(data.message);
                } else {
                    alert('Ошибка при добавлении точки: ' + data.error);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Произошла ошибка при отправке данных');
            });
        });
        function smoothScrollToTop() {
            const scrollToTop = () => {
                const c = document.documentElement.scrollTop || document.body.scrollTop;
                if (c > 0) {
                    window.requestAnimationFrame(scrollToTop);
                    window.scrollTo(0, c - c / 8);
                }
            };
            scrollToTop();
        }

        // Добавляем обработчик событий для кнопок прокрутки наверх
        document.querySelectorAll('.focus-button').forEach(button => {
            button.addEventListener('click', smoothScrollToTop);
        });

function smoothScrollTo(element, duration) {
    let targetPosition = element.offsetTop;
    let startPosition = window.pageYOffset;
    let distance = targetPosition - startPosition;
    let startTime = null;

    function animation(currentTime) {
        if (startTime === null) startTime = currentTime;
        let timeElapsed = currentTime - startTime;
        let run = ease(timeElapsed, startPosition, distance, duration);
        window.scrollTo(0, run);
        if (timeElapsed < duration) requestAnimationFrame(animation);
    }

    // Функция плавности изменения скорости
    function ease(t, b, c, d) {
        t /= d / 2;
        if (t < 1) return c / 2 * t * t + b;
        t--;
        return -c / 2 * (t * (t - 2) - 1) + b;
    }

    requestAnimationFrame(animation);
}

document.getElementById('scrollToFooterButton').addEventListener('click', function() {
    let footer = document.querySelector('footer');
    smoothScrollTo(footer, 1000); // Продолжительность анимации (в миллисекундах)
});

        </script>
</body>
</html>