{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% include 'nav/navbar.html' %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/profile_detail.css'%}" type="text/css">

    <div class="profile-container">
        <h2 class="card-title">
             {% if request.user.is_authenticated and request.user == profile.user %}
        Добро пожаловать на борт, {{ profile }}!
    {% else %}
        Это аккаунт пользователя {{ profile.user.username }}
    {% endif %}
        </h2>
        <ul class="profile-list">
            <li>
                <span class="index-text">
                    Никнейм:
                </span> {{ profile.user.username }}
            </li>
            {% if profile.user.get_full_name %}
                <li>
                    <span class="index-text">
                        Имя и фамилия:
                    </span>
                    {{ profile.user.get_full_name }}
                </li> {% endif %}
            <li>
                <span class="index-text">
                    E-mail:
                </span>
                    {{ profile.user.email }}
            </li>
            <li>
                <span class="index-text">
                    Дата рождения:
                </span>
                    {{ profile.birth_date }}
            </li>
            <li>
                <span class="index-text">
                    О себе:
                </span>
                    {{ profile.bio }}
            </li>
        </ul>
        {% if request.user.is_authenticated and request.user == profile.user %}
        <a href="{% url 'profile_edit' %}" class="redact_button" >
            <span>
                Редактировать профиль
            </span>
        </a>
    {% endif %}
    </div>
{% endblock %}