{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
    <link rel="stylesheet" href="{% static 'css/user_login.css'%}" type="text/css">
<div class="form-container">
    <form method="post" action="{% url 'login' %}" class="form">
        <span class="form-header">Войти в аккаунт</span>
        {% csrf_token %}
        {{ form.as_p }}
        <p><a href="{% url 'password_reset' %}" class="forgot-password">Забыли пароль?</a></p>
        <div>
            <button type="submit" class="login_button">
                <span>Войти</span>
            </button>
        </div>
    </form>
</div>
{% endblock %}