{% extends 'base.html' %}
<!DOCTYPE html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block content %}
    <link rel="stylesheet" href="{% static 'css/user_password_set_new.css'%}" type="text/css">
<div class="form-container">
    <form method="post" class="form">
        <span class="form-header">Установить новый пароль</span>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="confirm_button">Подтвердить</button>
    </form>
</div>
{% endblock %}