{% load static %}
<!DOCTYPE html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navbar.css'%}" type="text/css">
  <script src="{% static 'js/navbar.js' %}"></script>

<nav>
  <ul id="navbar">
          <li class="logo">
              <a href="{% url 'dashboard' %}" class="logo-link">
                  <span class="logo-text">PinPoint</span>
              </a>
          </li>
      {% if request.user.is_authenticated %}

          <li style="float:right;">
              <button class="dropbtn" onclick="dropdownfunc()">
            <i class="fa fa-caret-down"></i>
              </button>
          </li>

          <li style="float:right;">
              <button class="filter" onclick="filterdropdownfunc()">
            <i class="fa fa-caret-down"></i>
              </button>
          </li>

          <div class="filter-dropdown-content" id="filterDropdownContent">

            <form action="" method="get">
                <input name="s" placeholder="Поиск по местам.." type="search">
            </form>

            <select>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select>

            <label>
                <input type="checkbox" id="wishlist-checkbox" name="wishlist_checkbox"><span></span>
                <span class="wishlist-checkbox-text"> Показывать места <br/> из избранного </span>
            </label>

          </div>

          <div class="dropdown-content" id="dropdownContent">

            <a href="{% url 'profile_detail' request.user.profile.slug %}">
                <span>Мой профиль</span>
            </a>

                {% if request.user.is_authenticated %}
            <a href="">
                <span>Мой список любимых мест</span>
            </a>

            <form class="logout-form" id="logout-form" action="{% url 'logout' %}" method="POST">
              {% csrf_token %}
              <button class="logout-button">
                  <span>Выход</span>
              </button>
            </form>

                {% endif %}

                {% else %}
          <li class="login_register">

              <a href="{% url 'login' %}">
                  <span class="login_register"> Есть аккаунт? Войти </span>
              </a>

          </li>

          <li class="login_register">

              <a href="{% url 'register' %}">
                  <span class="login_register"> Регистрация (платно и с смс)</span>
              </a>

          </li>
                {% endif %}
            </div>
  </ul>
</nav>